.App {
    text-align: center;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}

.highlighted td, .highlighted:hover td {
    background-color: rgba(150, 150, 150, 0.4);
}

.fit {
    white-space: nowrap;
    width: 1px;
    padding: 6px !important;
}
