.App {
  text-align: center;
  background-image: url("background.jpg");
  #background-color: #282c34;
  background-size: cover;
  color: white;
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
  overflow: auto;
}
